{% extends 'page.html' %}

{% block title %}Pocket Nonogram Python Flask{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
    <script type="application/javascript" src="{{ url_for('static', filename='js/click.js') }}"></script>
{% endblock %}

{% block content %}
    <h1>Pocket Nonogram in Python</h1>

    <div><b>Click some fields</b></div>

    <div class="board">
        {% for line in game.fields %}
            <div class="line">
                {% for column in line %}
                    <div class="cell {% if column %}active{% endif %}">
                        &nbsp;
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <h2>Change board size</h2>

    <form class="change-size-form" action="/" method="post">
        {{ form.csrf_token }}
        {{ form.row_count.label }} {{ form.row_count() }}
        {{ form.column_count.label }} {{ form.column_count() }}
        {{ form.submit }}
    </form>

    <div class="message">

    </div>
{% endblock %}
